<%- include("./partials/header.ejs") %>
    <% if (currentUser && currentUser.kind==='Employee' ) { %>
        <%- include("./partials/employeeNav.ejs") %>
            <% } else if (currentUser && currentUser.kind==='Guest' ) { %>
                <%- include("./partials/guestNav.ejs") %>
                    <% } else { %>
                        <%- include("./partials/loginNav.ejs") %>
                            <% } %>

        <div class="container mt-5">
            <h1 class="display-4 text-center">BarkBase</h1>
            <h2 class="text-center mb-4">Unleash Efficiency: Revolutionize Your Kennel Management with BarkBase</h2>
            <p class="lead text-center">
                BarkBase is designed to streamline and enhance the operations of kennels, making management tasks both
                simple and
                efficient. By integrating booking, customer management, and health tracking into one easy-to-use
                platform, BarkBase
                ensures a seamless experience for kennel owners and pet parents alike. Kennel owners can effortlessly
                manage
                reservations, access pet health records, and communicate with pet owners, all from a single dashboard.
                For guests,
                BarkBase offers peace of mind, providing real-time updates on their pets' care and activities. With
                BarkBase,
                experience the ease of managing kennel operations, improved pet care, and strengthened relationships
                between kennels
                and pet owners. Join us in revolutionizing kennel management and elevate the standard of pet care today.
            </p>

        </div>

        <% include("./partials/footer.ejs") %>