<%- include("./partials/header.ejs") %>
    <%- include("./partials/loginNav.ejs") %>
        <h1>Home Page</h1>
        <h2>Unleash Efficiency: Revolutionize Your Kennel Management with BarkBase</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolores vero consectetur. Quaerat
            dignissimos eos voluptates minus, possimus ipsa labore aliquid optio vitae eveniet delectus perspiciatis
            debitis dolorem, laudantium animi!</p>
        <% include("./partials/footer.ejs") %>