<%- include("../../partials/header.ejs") %>
    <%- include("../../partials/employeeNav.ejs") %>
        <div class="settingsleft">
            <h1>Settings</h1>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">User Name <span
                        class="ms-auto">
                        <%= currentUser.userName %>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Email <span
                        class="ms-auto">
                        <%= currentUser.email %>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Pets Under Your Care</li>
                <li class="list-group-item">
                    <a class="changepassword" href="/guest/settings/password"><strong>Change Password</strong></a>
                </li>
                <li class="list-group-item">
                    <form action="/sessions/logout?_method=DELETE" method="POST">
                        <button type="submit" class="signout btn btn-default">
                            <strong>Sign Out</strong>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <% include("../../partials/footer.ejs") %>